@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

$jetbrains: "JetBrains Mono", monospace;
$green: #3cc88d;
$blue: #4ab2de;

* {
  font-family: $jetbrains;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: radial-gradient(circle, #808080 10%, transparent 11%),
    radial-gradient(circle at bottom left, #808080 5%, transparent 6%),
    radial-gradient(circle at bottom right, #808080 5%, transparent 6%),
    radial-gradient(circle at top left, #808080 5%, transparent 6%),
    radial-gradient(circle at top right, #808080 5%, transparent 6%);
  background-size: 2em 2em;
  background-color: #868686;
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 82px;
  left: 25px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
}

/*Heading css*/
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h1 {
      font-size: 30px;
      text-transform: uppercase;
    }

    .green-circle {
      width: 60px;
      height: 60px;
      background-color: $green;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/*Add Item css*/
.inputs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
  overflow: hidden;

  button {
    border-radius: 7px;
    border: none;
    background-color: $blue;
    width: 80px;
    padding: 5px 0;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15px;

    label {
      color: white;
      margin-bottom: 5px;
    }

    input,
    select {
      border-radius: 7px;
      border: none;
      cursor: pointer;
    }
  }
}

/*Item list css*/
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;

  &:before {
    content: "";
    margin: 10px 0;
    width: 85%;
    border-top: 1px solid black;
    bottom: 0;
  }

  .item-wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 75%;
    height: 40px;
    padding: 0 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70px;
    }

    .button {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      cursor: pointer;

      &.green {
        background-color: $green;
      }

      &.blue {
        background-color: $blue;
      }

      img {
        height: 15px;
      }
    }
  }

  select {
    background: transparent;
    border: none;
    margin-bottom: 10px;
  }
}

/*Total*/
.total {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 60px;

  p {
    margin: 0;
  }
}

/*Footer css*/
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
  background-color: $blue;
  font-size: 8px;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}
