@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
* {
  font-family: "JetBrains Mono", monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: radial-gradient(circle, #808080 10%, transparent 11%), radial-gradient(circle at bottom left, #808080 5%, transparent 6%), radial-gradient(circle at bottom right, #808080 5%, transparent 6%), radial-gradient(circle at top left, #808080 5%, transparent 6%), radial-gradient(circle at top right, #808080 5%, transparent 6%);
  background-size: 2em 2em;
  background-color: #868686;
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 73px;
  left: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
}

input:focus,
select:focus {
  outline: 1px solid #4ab2de;
}

/*Heading css*/
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading .title {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.heading .title h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #f5deb3;
}
.heading .title .green-circle {
  width: 60px;
  height: 60px;
  background-color: #3cc88d;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Add Item css*/
.inputs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
  overflow: hidden;
}
.inputs-wrapper button {
  border-radius: 7px;
  border: none;
  background-color: #4ab2de;
  padding: 5px 15px;
  cursor: pointer;
  color: #fff;
  margin: 25px;
}
.inputs-wrapper button:disabled {
  background-color: #5b90a6;
  cursor: not-allowed;
}
.inputs-wrapper .input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 15px;
}
.inputs-wrapper .input label {
  color: white;
  margin-bottom: 5px;
}
.inputs-wrapper .input input {
  border-radius: 5px;
  border: none;
  cursor: text;
  padding: 15px;
}
.inputs-wrapper .input select {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 15px;
  height: 150px;
}

/*Item list css*/
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}
.item-list:before {
  content: "";
  margin: 10px 0;
  width: 85%;
  border-top: 1px solid #f5deb3;
  opacity: 0.5;
  bottom: 0;
}
.item-list .item-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 75%;
  height: 40px;
  padding: 0 20px;
  border-radius: 7px;
  margin: 25px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.item-list .item-wrapper .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-list .item-wrapper .button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}
.item-list .item-wrapper .button.green {
  background-color: #3cc88d;
}
.item-list .item-wrapper .button img {
  height: 15px;
}
.item-list select {
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 20px;
  font-size: 18px;
  margin: 20px 25px 25px 25px;
  padding: 15px;
  cursor: pointer;
}

/*Total*/
.total {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 60px;
  font-size: 18px;
}
.total p {
  margin: 0;
}

/*Footer css*/
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
  background-color: #4ab2de;
  font-size: 8px;
  align-items: center;
  justify-content: center;
}
.footer p {
  margin: 0;
}

/*# sourceMappingURL=app.css.map */
